.form {     
    display: flex;
    justify-content: center;
}

.form-vistoria{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40vw;
    padding: 1% 0;
    margin: 2% 0;
    border-style: none;
    border-radius: 10px;
    outline: solid rgb(152, 200, 255) 2px;
    background-color: rgb(255, 255, 255);
}
.form-vistoria-holder h3 {
    padding: 4% 0;
    font-size: 2rem;
}
.form-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1% 0;
}
.formulario {
    display: flex;
    flex-direction: column;
    padding: 2% 1%;
    border-style: none;
    outline: solid 1px rgb(152, 200, 255);
    border-radius: 15px;
    width: 20vw;
}

        /* Produzindo botão | Acesso ao Projeto */
        .botao-porto {
            background-color: #a8d8ff;
            border: none;
            color: #fff;
            
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            padding: 15px 32px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 8px;
            transition: background-color 0.5s ease;
            
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
        .botao-porto:hover{
            background-color: #43aaff;
        }

